@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header_navbar {
  height: 85px;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4%;
}

.header_navbar .logo {
  background-image: url("../../../../images/navbar/logo.png");
  width: 125px;
  height: 25px;
  display: flex;
  background-size: cover;
  background-position: center;
}

.header_navbar .navbar .ul {
  display: flex;
  justify-content: space-between;
}

.header_navbar .navbar .ul .li {
  font-size: 16px;
  color: #444444;
  font-weight: 600;
  margin: 0px 10px;
  cursor: pointer;
}

.head_block {
  width: 100%;
  max-width: 1250px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("./images/headBlock/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 5%;
  justify-content: center;
}

.head_block .title {
  font-weight: 600;
  font-size: 46px;
  color: #444444;
}

.head_block .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 28px;
  gap: 10px;
  width: 110px;
  height: 56px;
  background: #B01736;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 60px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.head_block .btn:hover {
  background: #D53152;
}

.about_container {
  max-width: 1110px;
  width: 100%;
  height: 350px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_container .about {
  padding: 8%;
}

.about_container .about p {
  font-size: 25px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
}

.about_container .about p .company {
  color: #b01736;
}

.study_container {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.study_container .blocks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.study_container .blocks .block {
  margin: 2% 5%;
}

.study_container .blocks .block div {
  font-weight: 600;
  font-size: 60px;
  color: #A30C33;
  opacity: 0.95;
}

.study_container .blocks .block span {
  font-size: 16px;
  color: #444444;
}

.map_navbar {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  font-size: 20px;
  font-weight: 600;
}

.map_navbar .left {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.map_navbar .left .arrow {
  margin-left: 10px;
  width: 20px;
  height: 10px;
  background-image: url("./images/navbar/arrow.svg");
  display: flex;
  background-size: cover;
  background-position: center;
}

.map_navbar .left.active .arrow {
  transform: rotate(180deg);
}

.map_navbar .right {
  height: 100%;
  font-size: 17px;
}

.map_navbar .right .nav {
  height: 100%;
}

.map_navbar .right .nav .ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.map_navbar .right .nav .ul .li {
  display: flex;
  align-items: center;
  margin: 0 14px;
  cursor: pointer;
  height: 100%;
  position: relative;
}

.map_navbar .right .nav .ul .li.active {
  color: #A30C33;
}

.map_navbar .right .nav .ul .li.active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #A30C33;
}

.map_modal {
  visibility: hidden;
  transition: .3s all ease-in-out;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0px;
  background: #FFFFFF;
  z-index: 2;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
}

.map_modal .regions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 5%;
}

.map_modal .regions .column {
  display: flex;
  flex-direction: column;
}

.map_modal .regions .column .region {
  color: #444444;
  font-weight: 600;
}

.map_modal .regions .column .contry {
  padding: 4px 0px;
  cursor: pointer;
}

.map_modal.open {
  opacity: 1;
  top: 100px;
  visibility: visible;
}

.map_block {
  position: relative;
  margin: 100px 0;
}

.map_block .map {
  display: flex;
  position: relative;
  background-image: url("./images/map/map.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1190px;
  height: 599.58px;
}

.points {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.points .point {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.points .point .dot {
  width: 8px;
  height: 8px;
  border-radius: 55%;
  background: #444444;
}

.points .point.show {
  opacity: 1;
}

.points .moscow {
  left: 124px;
  top: 214px;
}

.points .vladivostok {
  flex-direction: column-reverse;
  left: 935.13px;
  top: 567.92px;
}

.points .habarovsk {
  left: 956px;
  top: 481.66px;
}

.points .irkutsk {
  flex-direction: column-reverse;
  left: 667px;
  top: 480.66px;
}

.points .krasnoyarsk {
  flex-direction: column-reverse;
  left: 598px;
  top: 458.66px;
}

.points .tomsk {
  left: 570px;
  top: 438.66px;
}

.points .nowosib {
  flex-direction: column-reverse;
  left: 475px;
  top: 458.66px;
}

.points .omsk {
  flex-direction: column-reverse;
  left: 447px;
  top: 472.66px;
}

.points .tumen {
  flex-direction: column-reverse;
  left: 392px;
  top: 365.66px;
}

.points .surgut {
  flex-direction: column-reverse;
  left: 419px;
  top: 321.66px;
}

.points .perm {
  flex-direction: column-reverse;
  left: 368px;
  top: 301.66px;
}

.points .izewsk {
  flex-direction: column-reverse;
  left: 317px;
  top: 283.66px;
}

.points .chelabinsk {
  flex-direction: column-reverse;
  left: 294px;
  top: 362.66px;
}

.points .ekb {
  flex-direction: column-reverse;
  left: 284px;
  top: 324.66px;
}

.points .ufa {
  flex-direction: column-reverse;
  left: 254px;
  top: 340.66px;
}

.points .orenburg {
  flex-direction: column-reverse;
  left: 198px;
  top: 366.66px;
}

.points .kazan {
  flex-direction: column-reverse;
  left: 234px;
  top: 298.66px;
}

.points .samara {
  flex-direction: column-reverse;
  left: 168px;
  top: 309.66px;
}

.points .downNovgorod {
  flex-direction: column-reverse;
  left: 127px;
  top: 258.66px;
}

.points .yaroslav {
  flex-direction: column-reverse;
  left: 153px;
  top: 194.66px;
}

.points .sanktPeter {
  flex-direction: column-reverse;
  left: 108px;
  top: 128.66px;
  font-size: 14px;
}

.points .kaliningrad {
  flex-direction: column-reverse;
  left: 6px;
  top: 122.66px;
}

.points .volonez {
  flex-direction: column-reverse;
  left: 69px;
  top: 245.66px;
}

.points .belgorod {
  flex-direction: column-reverse;
  left: 66px;
  top: 280px;
}

.points .rostovNaDony {
  flex-direction: column-reverse;
  left: 40px;
  top: 323px;
}

.points .volgograd {
  flex-direction: column-reverse;
  left: 80px;
  top: 373px;
}

.points .krasnodar {
  flex-direction: column-reverse;
  left: 26px;
  top: 383px;
}

.map_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
}

.mission_block {
  width: 100%;
  position: relative;
  max-width: 1250px;
  height: 471px;
  background: #a30c33;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission_block .title {
  color: white;
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 50px;
}

.mission_block .desc {
  font-weight: 400;
  font-size: 23px;
  text-align: center;
}

.mission_block::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 55px;
  bottom: 55px;
  width: 348px;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("./images/mission/Right.svg");
  background-size: contain;
}

.mission_block::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 55px;
  bottom: 55px;
  width: 348px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("./images/mission/Left.svg");
  background-size: contain;
}

.direction_block {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direction_block .title {
  margin-bottom: 40px;
}

.direction_block .blocks {
  display: grid;
  grid-template-columns: 51.2% 10%;
  grid-template-rows: 275px 275px;
}

.direction_block .blocks .block {
  width: 615px;
  height: 260px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.direction_block .blocks .block:hover .title_container {
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.direction_block .blocks .block:hover .title_container .title {
  margin: 0px;
}

.direction_block .blocks .block:hover .title_container .desc_container {
  font-size: 15px;
  margin-top: 20px;
}

.direction_block .blocks .title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(45, 54, 83, 0.6);
  height: 80px;
  padding: 20px;
  transition: .3s all ease-in-out;
}

.direction_block .blocks .title_container .title {
  color: #FFF;
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  transition: .3s all ease-in-out;
}

.direction_block .blocks .title_container .desc_container {
  font-weight: 400;
  font-size: 0px;
  transition: .3s all ease-in-out;
}

.direction_block .blocks .solve {
  background-image: url("./images/direction/solve.jpg");
}

.direction_block .blocks .cyber {
  background-image: url("./images/direction/cyber.jpg");
}

.direction_block .blocks .import {
  background-image: url("./images/direction/import.jpg");
}

.direction_block .blocks .sky {
  background-image: url("./images/direction/sky.jpg");
}

.direction_block .blocks .digital {
  background-image: url("./images/direction/digital.jpg");
}

.direction_block .blocks .digital .title_container .title {
  width: 350px;
}

.direction_block .blocks .support {
  background-image: url("./images/direction/support.jpg");
}

.compensation_block {
  width: 100%;
  max-width: 1110px;
  margin: 70px auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 40px;
}

.compensation_block .packages {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  justify-content: space-between;
  width: 85%;
}

.compensation_block .packages .package {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compensation_block .packages .package .icon {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  width: 110px;
  height: 110px;
  border-radius: 55%;
}

.compensation_block .packages .package .icon::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.compensation_block .packages .package .dms::before {
  background-image: url("../../../../images/compensation/dms.svg");
}

.compensation_block .packages .package .dayoff::before {
  background-image: url("../../../../images/compensation/dayoff.svg");
}

.compensation_block .packages .package .mobile::before {
  background-image: url("../../../../images/compensation/mobile.svg");
}

.compensation_block .packages .package .sales::before {
  background-image: url("../../../../images/compensation/sales.svg");
}

.compensation_block .packages .package .lti::before {
  background-size: 60%;
  background-image: url("../../../../images/compensation/lti.svg");
}

.compensation_block .packages .package .mortgage::before {
  background-image: url("../../../..//compensation/mortgage.svg");
}

.compensation_block .packages .package .orgtex::before {
  background-image: url("../../../../images/compensation/orgtex.svg");
}

.compensation_block .packages .package .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.compensation_block .packages .package .titles .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #444444;
}

.compensation_block .packages.motivate {
  width: 50%;
}

.compensation_block .line {
  opacity: .1;
  width: 100%;
  border-bottom: 1px solid #000000;
  margin: 50px 0px;
}

.compensation_block .titles {
  font-weight: 600;
  font-size: 30px;
  color: #444444;
  text-align: center;
}

.compensation_block .titles .hot {
  margin-top: 4px;
  color: #B01736;
}

.life_block {
  width: 100%;
  max-width: 1110px;
  margin: 70px auto;
}

.life_block .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.life_block .header .title {
  color: #444444;
  font-weight: 600;
  font-size: 50px;
  cursor: default;
}

.life_block .header .btns {
  display: flex;
  align-items: center;
}

.life_block .header .btns .btn {
  width: 56px;
  height: 56px;
  position: relative;
  background: #F0F0F0;
  border-radius: 55%;
  cursor: pointer;
}

.life_block .header .btns .btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

.life_block .header .btns .left::before {
  background-image: url("./images/life/arrow.svg");
}

.life_block .header .btns .right {
  margin-left: 20px;
  transform: rotate(180deg);
}

.life_block .header .btns .right::before {
  background-image: url("./images/life/arrow.svg");
}

.life_block .slide {
  width: 100%;
  height: 834px;
  margin: 50px 0;
}

.life_block .slide.num0 {
  background-image: url("./images/life/one.jpg");
}

.life_block .slide.num4 {
  background-image: url("./images/life/five.jpg");
}

.life_block .slide.num1 {
  background-image: url("./images/life/two.jpg");
}

.life_block .slide.num2 {
  background-image: url("./images/life/three.jpg");
}

.life_block .slide.num3 {
  background-image: url("./images/life/four.jpg");
}

.life_block .footer {
  display: flex;
  justify-content: space-between;
}

.life_block .footer .block {
  width: 214px;
  height: 6px;
  cursor: pointer;
  background: #000000;
  opacity: 0.1;
}

.life_block .footer .block.active {
  opacity: 1;
  background: #A30C33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  background-color: #FFFFFF;
}

#app {
  width: 1250px;
  margin: 0 auto;
}
