
.map_block {
  position: relative;
  margin: 100px 0;
  .map {
    display: flex;
    position: relative;
    background-image: url("/src/assets/icons/map/map.svg");
    background-size: cover;
    background-repeat: no-repeat;

    width: 1190px;
    height: 599.58px;
  }
}