.map_navbar {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  font-size: 20px;
  font-weight: 600;
}

.map_navbar .left {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.map_navbar .left .arrow {
  margin-left: 10px;
  width: 20px;
  height: 10px;
  background-image: url("./images/navbar/arrow.svg");
  display: flex;
  background-size: cover;
  background-position: center;
}

.map_navbar .left.active .arrow {
  transform: rotate(180deg);
}

.map_navbar .right {
  height: 100%;
  font-size: 17px;
}

.map_navbar .right .nav {
  height: 100%;
}

.map_navbar .right .nav .ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.map_navbar .right .nav .ul .li {
  display: flex;
  align-items: center;
  margin: 0 14px;
  cursor: pointer;
  height: 100%;
  position: relative;
}

.map_navbar .right .nav .ul .li.active {
  color: #A30C33;
}

.map_navbar .right .nav .ul .li.active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #A30C33;
}

.map_modal {
  visibility: hidden;
  transition: .3s all ease-in-out;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0px;
  background: #FFFFFF;
  z-index: 2;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
}

.map_modal .regions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 5%;
}

.map_modal .regions .column {
  display: flex;
  flex-direction: column;
}

.map_modal .regions .column .region {
  color: #444444;
  font-weight: 600;
}

.map_modal .regions .column .contry {
  padding: 4px 0px;
  cursor: pointer;
}

.map_modal.open {
  opacity: 1;
  top: 100px;
  visibility: visible;
}

.map_block {
  position: relative;
  margin: 100px 0;
}

.map_block .map {
  display: flex;
  position: relative;
  background-image: url("./images/map/map.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1190px;
  height: 599.58px;
}

.points {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.points .point {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.points .point .dot {
  width: 8px;
  height: 8px;
  border-radius: 55%;
  background: #444444;
}

.points .point.show {
  opacity: 1;
}

.points .moscow {
  left: 124px;
  top: 214px;
}

.points .vladivostok {
  flex-direction: column-reverse;
  left: 935.13px;
  top: 567.92px;
}

.points .habarovsk {
  left: 956px;
  top: 481.66px;
}

.points .irkutsk {
  flex-direction: column-reverse;
  left: 667px;
  top: 480.66px;
}

.points .krasnoyarsk {
  flex-direction: column-reverse;
  left: 598px;
  top: 458.66px;
}

.points .tomsk {
  left: 570px;
  top: 438.66px;
}

.points .nowosib {
  flex-direction: column-reverse;
  left: 475px;
  top: 458.66px;
}

.points .omsk {
  flex-direction: column-reverse;
  left: 447px;
  top: 472.66px;
}

.points .tumen {
  flex-direction: column-reverse;
  left: 392px;
  top: 365.66px;
}

.points .surgut {
  flex-direction: column-reverse;
  left: 419px;
  top: 321.66px;
}

.points .perm {
  flex-direction: column-reverse;
  left: 368px;
  top: 301.66px;
}

.points .izewsk {
  flex-direction: column-reverse;
  left: 317px;
  top: 283.66px;
}

.points .chelabinsk {
  flex-direction: column-reverse;
  left: 294px;
  top: 362.66px;
}

.points .ekb {
  flex-direction: column-reverse;
  left: 284px;
  top: 324.66px;
}

.points .ufa {
  flex-direction: column-reverse;
  left: 254px;
  top: 340.66px;
}

.points .orenburg {
  flex-direction: column-reverse;
  left: 198px;
  top: 366.66px;
}

.points .kazan {
  flex-direction: column-reverse;
  left: 234px;
  top: 298.66px;
}

.points .samara {
  flex-direction: column-reverse;
  left: 168px;
  top: 309.66px;
}

.points .downNovgorod {
  flex-direction: column-reverse;
  left: 127px;
  top: 258.66px;
}

.points .yaroslav {
  flex-direction: column-reverse;
  left: 153px;
  top: 194.66px;
}

.points .sanktPeter {
  flex-direction: column-reverse;
  left: 108px;
  top: 128.66px;
  font-size: 14px;
}

.points .kaliningrad {
  flex-direction: column-reverse;
  left: 6px;
  top: 122.66px;
}

.points .volonez {
  flex-direction: column-reverse;
  left: 69px;
  top: 245.66px;
}

.points .belgorod {
  flex-direction: column-reverse;
  left: 66px;
  top: 280px;
}

.points .rostovNaDony {
  flex-direction: column-reverse;
  left: 40px;
  top: 323px;
}

.points .volgograd {
  flex-direction: column-reverse;
  left: 80px;
  top: 373px;
}

.points .krasnodar {
  flex-direction: column-reverse;
  left: 26px;
  top: 383px;
}

.map_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
}
